<?xml version="1.0"?>
<ewg_config name="sdl2">

  <rule_list>
  	  <!-- Ignore everything that starts with an underscore. -->
    <rule>
      <match>
          <identifier name="_.*"/>  
      </match>
       <wrapper type="none">
      </wrapper>
    </rule>


    	  <!-- Include functions, structs, unions, macros, etc-->
    	  <!-- To learn more read: https://github.com/eiffel-wrap-c/WrapC/blob/master/doc/Readme.md#config_file-->

     
      <rule>
        <match>
          <identifier name="SDL_.*Events?"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      
      <rule>
        <match>
          <identifier name="SDL_Init"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 
      
      <rule>
        <match>
          <identifier name="SDL_InitSubSystem"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 
      
      <rule>
        <match>
          <identifier name="SDL_QuitSubSystem"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 
      
      <rule>
        <match>
          <identifier name="SDL_WasInit"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 
      
      <rule>
        <match>
          <identifier name="SDL_Quit"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_Window.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_Surface.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_GetError.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_.*"/>
          <type name="macro"/>
        </match>
        <wrapper type="default">
          <class_name name="SDL_CONSTANT"/>
        </wrapper>
      </rule>   

      <rule>
        <match>
          <identifier name="SDL_CreateWindow"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_GetWindowSurface"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_FillRect"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_MapRGB"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_UpdateWindowSurface"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_Delay"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_DestroyWindow"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_Quit"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  
      <rule>
        <match>
          <identifier name="SDL_Load.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  
      <rule>
        <match>
          <identifier name="SDL_RWFromFile"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  
      <rule>
        <match>
          <identifier name="SDL_FreeSurface"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_UpperBlit"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

     <rule>
        <match>
          <identifier name="SDL_Event"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_PollEvent"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_Load.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  

      <rule>
        <match>
          <identifier name="SDL_ConvertSurface"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>  
      
      <rule>
        <match>
          <identifier name="SDL_.*BlitScaled"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_SetHint.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_CreateRenderer"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_Renderer.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_SetRenderDrawColor"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_CreateTextureFromSurface"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_CreateTexture" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_DestroyTexture"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_DestroyRenderer"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_Render.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_SetColor.*"/>
        </match>
        <wrapper type="default">
        </wrapper>
      </rule> 

      <rule>
        <match>
          <identifier name="SDL_GetTicks" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>


      <rule>
        <match>
          <identifier name="SDL_PixelFormatEnum" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_TextureAccess" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_UpdateTexture" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_LockSurface" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_UnlockSurface" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_SetPaletteColors" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_CreateRGBSurface" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_LowerBlit" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_SetRenderTarget" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_PixelFormatEnumToMasks" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>


      <rule>
        <match>
          <identifier name="SDL_GetWindowPixelFormat" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_GetRendererOutputSize" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_GetRendererInfo" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_PauseAudio" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>


      <rule>
        <match>
          <identifier name="SDL_AudioCVT" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_BuildAudioCVT" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>

      <rule>
        <match>
          <identifier name="SDL_ConvertAudio" />
        </match>
        <wrapper type="default">
        </wrapper>
      </rule>


     <!-- And the rest should be ignored -->
    <rule>
      <match>
      </match>
       <wrapper type="none">
      </wrapper>
    </rule>


  </rule_list>

</ewg_config>
