<?xml version="1.0"?>
<ewg_config name="sdl2_mixer">

  <rule_list>
  	  <!-- Ignore everything that starts with an underscore. -->
    <rule>
      <match>
          <identifier name="_.*"/>
      </match>
       <wrapper type="none">
      </wrapper>
    </rule>

    	  <!-- Include functions, structs, unions, macros, etc-->
    	  <!-- To learn more read: https://github.com/eiffel-wrap-c/WrapC/blob/master/doc/Readme.md#config_file-->

    <rule>
       <match>
         <identifier name="Mix_OpenAudioDevice"/>
       </match>
       <wrapper type="default">
       </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_QuerySpec"/>
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_AllocateChannels" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_Chunk" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_PlayChannelTimed" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_SetPanning" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_CloseAudio" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_Playing" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_HaltChannel" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_Init" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="MIX_InitFlags" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_SetMusicCMD" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_PlayMusic" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>

    <rule>
      <match>
        <identifier name="Mix_LoadMUS" />
      </match>
      <wrapper type="default">
      </wrapper>
    </rule>


      <!-- And the rest should be ignored -->
    <rule>
      <match>
      </match>
       <wrapper type="none">
      </wrapper>
    </rule>


  </rule_list>

</ewg_config>
